=# stylesheet_link_tag "application", :media => "all"
=# javascript_include_tag "http://jzaefferer.github.com/jquery-validation/jquery.validate.js"

:javascript
 $(document).ready(function() {
 // $(".add-action").validate();
 $("#date").datetimepicker({
 controlType: 'select',
 dateFormat: 'yy-mm-dd',
 timeFormat: 'hh:mm tt',
 minDate: 0
 });
 
 });
.pad20
 %p.back= link_to "Back", "#"

 %h3.big-head
  Add a Reward
 ~ form_for :rewards, url:"create",html: {class: "add-action", multipart: true} do |f|
  .form-wrap.bor-bot
   = select_tag "selected_option", options_for_select([['Raffle', 1], ['Gift', 2]])
   = select_tag "prize[p_type]", options_for_select([['Money','money'], ['Gift','gift'],['Voucher','voucher']]),prompt: "Type"
   = select_tag "selected_option", options_for_select([['Clone', 1]]) 
  .form-wrap
   = text_field_tag "reward[title]","",placeholder:"Reward Title", style: "width:360px;"
   %br
   = text_field_tag "reward[quantity]","",placeholder:"quantity", style: "width:360px;"
   %br
   = text_area_tag "reward[description]","",placeholder:"About Reward", style: "width:380px;"
   %br
   = text_field_tag "reward[dollar_value]","",placeholder:"Dollar Value",class: "money"
   = text_field_tag "reward[bean_cost]","",placeholder:"Bean Cost", style: "width:150px;"
   = file_field_tag "reward[image]"
  .form-submit
   %br
   .row-fluid
    .span12
     = text_field_tag "reward[expiration_date]","",class: "date",id:"date",placeholder:"Expiration Date"
     %br
     .summary
   .row-fluid
    .span12
     = submit_tag "Create",class: "btn"
    
     